.staff-section-container {
	color: var(--red-color);
	background: #efefef;
	padding: 100px 10%;
}

.staff-section-container h2 {
	margin-bottom: 60px;
}

.staff-card-container {
	display: flex;
	justify-content: space-evenly;
}

.staff-card {
	height: 500px;
	width: 30%;
	position: relative;
}

.card-top {
	height: 50%;
	background-color: var(--red-color);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.staff-card img {
	width: 40%;
	height: auto;
	position: absolute;
	position: absolute;
	left: 50%;
	top: 45%;
	border-radius: 50%;
	border: 3px solid white;
	margin: 0px;
	transform: translate(-50%, -50%);
}

.card-bottom {
	height: 50%;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-bottom h4 {
	font-size: 1.5vw;
}

@media only screen and (max-width: 1400px) {
	.staff-card {
		height: 400px;
	}
}

@media only screen and (max-width: 1100px) {
	.staff-card {
		height: 350px;
		width: 35%;
	}
}

@media only screen and (max-width: 900px) {
	.staff-card {
		height: 350px;
		width: 40%;
	}

	.card-bottom h4 {
		font-size: 2.5vw;
	}
}

@media only screen and (max-width: 768px) {
	.staff-section-container {
		padding: 100px 5%;
	}

	.staff-card-container {
		flex-direction: column;
	}

	.staff-card {
		height: 650px;
		width: 100%;
		margin: 50px 0px;
		font-size: 3vw;
	}

	.card-bottom h4 {
		font-size: 4vw;
	}
}

@media only screen and (max-width: 450px) {
	.staff-section-container {
		padding: 100px 5%;
	}

	.staff-card-container {
		flex-direction: column;
	}

	.staff-card {
		height: 400px;
		width: 100%;
		margin: 25px 0px;
		font-size: 4vw;
	}

	.card-bottom h4 {
		font-size: 5vw;
	}
}
