.banner-title {
	color: white;
	margin: 0px;
	border: 2px solid white;
	padding: 25px 100px;
	font-size: 2vw;
}

@media only screen and (max-width: 768px) {
	.banner-title {
		border: none;
		font-size: 4vw;
	}

	@media only screen and (max-width: 450px) {
		.banner-title {
			font-size: 7vw;
		}
	}
}
